<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/email.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1>Informe o seu Email</h1>
    <form method="post">
        {{form.hidden_tag()}}
        <div class="inputs">
            {{form.email.label}}
            {{form.email}}

            {{form.submit()}}
        </div>

    </form>
    
</body>
</html>